:root{
    --bs-primary :  #282c50;
    --bs-secondary :  #1d213d;
    --bs-info : #3a3f6b;
    --bs-text-color: #bbbbbb;
    --bg-secondary: #3a3f6b;
    --bg-primary: #282c50;
}

/* BODY */
html, body{
    margin: 0;
    overflow-x: hidden;
}
.primary{ background-color: var(--bs-primary); }


/* GRID PRINCIPAL */
.principal{
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
}


/* HEADER */
.header {
    grid-area: header;
    background: var(--bs-secondary);
}

.nav-link {
    color: var(--bs-text-color) !important;
}

/* search bar*/
.search { 
    grid-area: search; 
    max-width: 80%;
}
/* profile section*/
.profile { grid-area: profile; }


/* CONTENT */
.content{
    grid-area: content; 
    padding: 20px;
    color: var(--bs-text-color);
}
.generic-card{
    max-width:600px;
    margin: 20px auto;
    background: var(--bs-secondary)!important;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.1)!important;
    border-radius:1.5rem !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    font-size:1.2rem;
}
.generic-card label{
    color: var(--bs-text-color);
    font-weight:600;
    font-size:0.7rem;
    letter-spacing:0.05rem;
    display: block;
}
.btn-primary{
    background-color:#0d6efd !important;
    border: none;
    padding: 12px;
    width:100%;
    font-weight:bold;
    transition: all 0.2s;
}
.btn-primary:hover{
    opacity:0.9;
    transform:translateY(-1px);
}
/*Stars for reviews*/
.star {
    font-size: 1.7rem;
    cursor: pointer;
    color: gray;
}
.star.activa { color: gold; }
.star.parcial {
    background: linear-gradient(to right, gold 30%, gray 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* FOOTER */
.footer {
    background: var(--bs-secondary);
    padding: 20px;
    color: var(--bs-text-color);
}
.footer .nav-link { color: var(--bs-text-color) !important; }

.footer .nav-link:hover { color: #3a3f6b !important; }


/* INCLUDE REVIEW */
.photo-evaluate {
    width: 220px; 
    aspect-ratio: 2 / 3; 
    margin: 0 auto 20px auto; 
    display: block; 
    background: var(--bs-primary);
    border: 2px solid var(--bs-info);
    border-radius: 10px;
    overflow: hidden;
}
.photo-evaluate img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
/* Form */
.form-review {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-review textarea {
    width: 100%;
    height: 120px;
    background: var(--bs-primary);
    border: 1px solid var(--bs-info);
    color: var(--bs-text-color);
    padding: 12px;
    border-radius: 8px;
    resize: none;
}


/* LEGAL ADVISE */
.legal-info span{ text-decoration: underline; }


 /* LISTS */
.films {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto; 
    gap: 15px;
    width: 95vw;
    padding: 20px;
    background-color: var(--bs-secondary);
    border-radius: 10px;
}
/* Films Scrollbar*/
.films::-webkit-scrollbar{ background-color: #131527; }
.films::-webkit-scrollbar-thumb{
    background-color:var(--bs-info);
    border-radius: 10px;
}
/* Films */
.films .card {
    flex: 0 0 180px; 
    height: auto;
    background-color: var(--bs-info);
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
}
/* when mouse goes over the card, it*/
.films .card:hover { transform: scale(1.05);}
.films .card img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 5px;
}
.films .card a { text-decoration: none; }
.films .card h5 {
    color: white;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}


/* LOGIN */
.container-login{
    max-width:50vw;
    background: var(--bs-secondary)!important;
    padding: 5vh;
    border: 1px solid rgba(255,255,255,0.1)!important;
    border-radius:1.5rem !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    font-size:1.2rem;
}


/* MOVIES AND SERIES DETAILS */
.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal .card-text {
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
}
.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
}


/* PROFILE */
.botonProfile{
    border: 1px solid black;
    background: var(--bs-secondary);
    color: var(--bs-text-color);
    text-align: center;
    gap: 10px;
    padding: 10px;
    border-radius:12px;
    height: 50px;

    /*To center the test in the botton*/
    display: flex;
    align-items:center;
    justify-content: center;
}
.profile-field{
    transition:all 0.2 ease;
    min-height: 60mx;
    background: var(--bs-info) ;
    color: var(--bs-text-color);
}
.profile-field:hover{
    background: #444a7c !important;
    transform: translateY(-2px);
}

.input-perfil-personalizado{
    width:100%;
    border:none;
    background:transparent;
    color: var(--bs-text-color);
    text-align:center;
    outline: none;
    font-weight:500;
    font-size:1.1rem;
}
#yearBirthInput{ color-scheme: dark; }
#avatarModal .modal-content{
    background-color: var(--bs-secondary);
    color: var(--bs-text-color);
}
#avatarModal .btn-close{ filter: invert(1) brightness(200%); }
.img-selectable{
    cursor:pointer;
    transition:transform 0.2s, border-color 0.2s;
    border: 3px solid transparent;
    width:80px;
    height:80px;
    object-fit:cover;
}
.img-selectable:hover{
    transform:scale(1.1);
    border-color: var(--bs-info);
}
.active-avatar{ border-color: var(--bs-info); }
#avatarGallery{
    padding:10px;
    background: var(--bs-primary);
    border-radius:10px;
}

/* ADMINISTRATOR */
.captionAdminister{ color: var(--bs-text-color); }
canvas{
    width:100% !important;
    height:auto !important;
}

/* MODALS TABLES */
.table-admin .modal-body{
    padding: 0.5rem;
}
.table-admin{
    position:relative;
    overflow-x:auto;
    display:block;
}   

.table-admin .table-responsive{
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
}
.table-admin table {
    min-width: 700px;
}
.table-admin .modal-footer .btn, #avatarModal .modal-footer .btn, #newListModal .modal-footer .btn, .añadir-lista .btn{
    width: auto !important;
}
/* MIS LISTAS */
.btn-pequeño {
    width: auto !important;
}