{{>head}}

<body class="primary">
    <!-- Page Content -->
    <div class="row p-5 d-flex align-items-center">
        <!-- Logo -->
        <div class="col-md-6 text-center">
            <img class="mb-2 img-fluid" src="images/logo.png" alt="Logo Palomix" width="80%" height="90%" />
        </div>

        <!-- Form -->
        <div class="col-md-6">
            <div class="col mt-5 d-flex justify-content-center">
                <div class="container-login">
                    <h1 class="mb-3 text-center text-light">Iniciar Sesión</h1>
                    <form action="/login" method="post">
                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="username"
                                placeholder="name@example.com" required />
                            <label for="email" class="text-dark">Correo Electrónico</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password" required>
                            <label for="password" class="text-dark">Contraseña</label>
                        </div>

                        {{#loginError}}
                        <div class="alert alert-danger p-2" role="alert">
                            Email o Contraseña incorrecta
                        </div>
                        {{/loginError}}

                        <div class="container">
                            <div class="row my-3">
                                <div class="col">
                                    <div class="form-check text-start">
                                        <input class="form-check-input" type="checkbox" id="checkDefault"
                                            name="remember-me">
                                        <label class="form-check-label text-light" for="checkDefault">Recordarme</label>
                                    </div>
                                    <a href="/principal"><h6>No quiero iniciar sesión</h6></a>
                                </div>
                                <div class="col">
                                    <div class="text-end">
                                        <a href="/signUp"><h6>Crear cuenta</h6></a>
                                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                            data-bs-target="#modalRecuperar">
                                            <h6>¿Olvidaste tu contraseña?</h6>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-primary w-100 py-2" type="submit">Acceder</button>
                    </form>
                </div>
            </div>
            
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalRecuperar" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark">Recuperar Contraseña</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <form action="/sendRecoveryEmail" method="post" class="border-bottom pb-3 mb-3">
                            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
                            <p class="small text-muted text-start">1. Introduce tu correo para recibir un código de
                                seguridad.</p>
                            <div class="input-group ">
                                <input type="email" name="email" class="form-control mb-3" placeholder="tu@email.com"
                                    required>
                                <button class="btn btn-primary" type="submit">Enviar Código</button>
                            </div>
                        </form>

                        <form action="/restartPassword" method="post">
                            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
                            <p class="small text-muted text-start">2. Una vez recibido, introduce los datos para cambiar
                                tu clave.</p>

                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" id="resetEmail"
                                    placeholder="Email" required>
                                <label for="resetEmail" class="text-dark">Email del que quieres cambiar clave</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" name="code" class="form-control" id="resetCode" placeholder="Código"
                                    required>
                                <label for="resetCode" class="text-dark">Código de 6 dígitos</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="newPassword" class="form-control" id="newPassword"
                                    placeholder="Nueva Contraseña" required>
                                <label for="newPassword" class="text-dark">Nueva Contraseña</label>
                            </div>

                            <button type="submit" class="btn btn-success w-100">Actualizar Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>