{{>head}}

<body class="primary principal">
    {{>header}}

    <!-- Page Content -->
    <div class="content">
        <div class="px-5 my-3">
            <div class="mb-3">
                <h1>Sobre Nosotros</h1>
            </div>
            <div class="fs-5">
                <p>Palomix nació como un proyecto del Grupo 6 con una idea clara: crear un espacio donde los
                    amantes del cine y las series puedan descubrir contenido, opinar y compartir lo que les
                    apasiona.
                </p>
                <p>Nos mueve la creatividad, el aprendizaje y el deseo de construir una comunidad cercana, útil
                    y entretenida.</p>
                <p> Queremos que Palomix sea un lugar donde cada usuario pueda encontrar algo nuevo, expresar su
                    opinión y sentirse parte de una comunidad que comparte su misma pasión.
                </p>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>