{{>head}}

<body class="primary principal">
    {{>header}}

    <!-- Page Content -->
    <div class="content">
        <div class="px-5 my-3 fs-5">
            <div class="mb-3">
                <h1>Políticas de Cookies</h1>
            </div>
            <p>En Palomix utilizamos cookies para mejorar tu experiencia de navegación. Las <b>Cookies</b> son
                pequeños archivos que se guardan en tu dispositivo y nos ayudan a recordar tus
                preferencias, analizar el uso de la web y ofrecerte un servicio más personalizado.</p>
            <div class="fw-bold mt-4">
                <h4>Cookies Técnicas</h4>
            </div>
            <p>Necesarias para que la web funcione correctamente</p>
            <div class="fw-bold mt-4">
                <h4>Cookies de Análisis</h4>
            </div>
            <p>Nos permiten entender cómo navegan los usuarios y mejorar la plataforma.</p>
            <div class="fw-bold mt-4">
                <h4>Cookies de Terceros</h4>
            </div>
            <p>Pueden proceder de servicios externos como herramientas de análisis.</p>
            <div class="fw-bold mt-4">
                <h4>Responsabilidad</h4>
            </div>
            <p>Puedes configurar o desactivar las cookies desde tu navegador en cualquier momento. Ten en
                cuenta que algunas funciones podrían dejar de estar disponibles si las bloqueas.</p>
        </div>
    </div>

    {{>footer}}
</body>

</html>