{{>head}}

<body class="primary principal">
    {{>header}}

    <!-- Page Content -->
    <div class="content px-5">
        <!-- Título + buttom -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h4 class="mb-0">{{listName}}</h4>
            <a href="/lists" class="btn btn-secondary">Volver</a>
        </div>

        <!-- Films grid -->
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">

            {{#filmographyList}}
            <div class="col">
                <div class="card film-list">
                    <a href="/filmographies/{{filmographyId}}" class="text-decoration-none text-dark">
                        <img src="{{filmographyImageUrl}}" class="card-img-top" alt="{{filmographyName}}">
                    </a>
                </div>
            </div>
            {{/filmographyList}}

            {{^filmographyList}}
            <div class="col-12 text-center py-5">
                <p class="text-light">Esta lista está vacía</p>
            </div>
            {{/filmographyList}}
        </div>
    </div>

    {{>footer}}

    <!-- Scripts -->
    <script src="js/reviews.js"></script>
</body>

</html>