<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Palomix" />
    <meta name="author" content="Grupo 6" />
    <title>Palomix - Lista de Películas</title>
    <!-- Libraries-->
    <!--Bootstrap Librarie-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- Our CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="primary principal">
    <!-- HEADER -->
    {{>header}}


    <!-- Page Content -->
    <div class="content px-5">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h4 class="mb-0">Peliculas de la lista</h4>
            <a href="lists" class="btn btn-secondary">Volver</a>
        </div>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
            <!-- Card film 1 -->
            <div class="col">
                <div class="card film-list">
                    <a href="/filmographies/{id}" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 2 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 3 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 4 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 5 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 6 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 7 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 8 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 9 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 10 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 11 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 12 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 13 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 14 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 15 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 16 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 17 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 18 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
            <!-- Card film 19 -->
            <div class="col">
                <div class="card film-list">
                    <a href="movieDetails" class="text-decoration-none text-dark">
                        <img src="images/carteleraEjemploAvatar.webp" class="card-img-top" alt="Avatar">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}


    <!-- Scripts -->
    <script src="js/reviews.js"></script>
</body>

</html>