<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Palomix" />
    <meta name="author" content="Grupo 6" />
    <title>Palomix - Lista de Películas</title>
    <!-- Libraries-->
    <!--Bootstrap Librarie-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- Our CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Footer -->
    <footer class="footer py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="principal" class="nav-link px-2">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="cookies" class="nav-link px-2">Política de Cookies</a>
            </li>
            <li class="nav-item">
                <a href="legalAdvise" class="nav-link px-2">Aviso Legal</a>
            </li>
            <li class="nav-item">
                <a href="frequentlyAskedQuestions" class="nav-link px-2">Preguntas Frecuentes</a>
            </li>
            <li class="nav-item">
                <a href="aboutUs" class="nav-link px-2">Sobre Nosotros</a>
            </li>
        </ul>
        <div class="d-flex justify-content-between">
            <p class="text-center">&copy; 2025 Company, Inc</p>
            <div class="d-flex justify-content-between gap-3">
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#">
                    <i class="bi bi-twitter-x"></i>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>