{{>head}}

<body class="primary principal">
   
    <!-- HEADER -->
    {{>header}}


    <!-- Page Content -->
    <div class="content">
        <div class="px-5 my-3 fs-5">
            <div class="mb-3">
                <h1>Preguntas Frecuentes</h1>
            </div>
            <div class="fw-bold mt-4">
                <h4>¿Qué es Palomix?:</h4>
            </div>
            <p>Es una plataforma donde puedes descubrir películas y series, leer reseñas y compartir tus
                opiniones con otros usuarios.</p>
            <div class="fw-bold mt-4">
                <h4>¿Necesito registrarme para usar la web?</h4>
            </div>
            <p>Puedes navegar sin registrarte, pero para dejar reseñas o crear listas personalizadas
                necesitarás una cuenta.</p>
            <div class="fw-bold mt-4">
                <h4>¿Cómo se calculan las puntuaciones?</h4>
            </div>
            <p>Las valoraciones se basan en las reseñas de los usuarios. Cada opinión cuenta y contribuye a
                la nota final.</p>
            <div class="fw-bold mt-4">
                <h4>¿Es gratis usar Palomix?</h4>
            </div>
            <p>Sí, Palomix es completamente gratuito.</p>
            <div class="fw-bold mt-4">
                <h4>¿Puedo ver películas directamente en Palomix?</h4>
            </div>
            <p>No, Palomix es una plataforma de recomendación y comunidad. Te ayudamos a decidir qué ver y dónde
                encontrarlo, pero no ofrecemos servicio de streaming.</p>
            <div class="fw-bold mt-4">
                <h4>¿Cómo puedo añadir una película que no aparece en la web?</h4>
            </div>
            <p>Nuestra base de datos se actualiza constantemente. Si no encuentras un título, puedes sugerirlo a través
                de nuestro formulario de contacto.</p>
            <div class="fw-bold mt-4">
                <h4>¿Cómo creo una lista de favoritos?</h4>
            </div>
            <p>Una vez que hayas iniciado sesión, verás un icono de "Añadir a lista" en la ficha de cada película o
                serie. Podrás organizar tus listas desde tu perfil.</p>
            <div class="fw-bold mt-4">
                <h4>¿Puedo editar o borrar una reseña que ya publiqué?</h4>
            </div>
            <p>¡Por supuesto! Solo tienes que ir a tu perfil, buscar la reseña en la sección de actividad y seleccionar
                la opción de editar o eliminar.</p>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <!-- Scripts -->
    
</body>

</html>