<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Palomix" />
    <meta name="author" content="Grupo 6" />
    <title>Palomix - Añadir Reseña</title>
    <!-- Libraries-->
    <!--Bootstrap Librarie-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- Our CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="primary principal">
    
    <!-- HEADER -->
    {{>header}}

    <!-- Page Content -->
    <div class="container-fluid py-4 content">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card p-3 p-md-4 generic-card rounded-4 border-0">
                    <h3 class="mb-3 text-center text-white fs-md-2">Avatar</h3>
                    <!-- Poster -->
                    <img src="images/carteleraEjemploAvatar.webp" alt="Poster"
                        class="border rounded-3 d-block mx-auto mb-4 bg-white-50 img-fluid poster">

                    <form class="form-review">
                        <!-- Stars -->
                        <div class="d-flex flex-column gap-1">
                            <label class="fw-bold text-white fs-6 mb-0">Valoración:</label>
                            <div class="d-flex mt-0" id="stars">
                                <i class="bi bi-star star" data-value="1"></i>
                                <i class="bi bi-star star" data-value="2"></i>
                                <i class="bi bi-star star" data-value="3"></i>
                                <i class="bi bi-star star" data-value="4"></i>
                                <i class="bi bi-star star" data-value="5"></i>
                                <input type="hidden" id="rating" name="rating">
                            </div>
                        </div>
                        <!-- Review -->
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-bold text-white fs-6">Reseña:</label>
                            <textarea class="form-control bg-white text-dark"
                                placeholder="Escribe tu reseña aquí..."></textarea>
                        </div>
                        <div class="d-flex gap-2">
                            <a href="review" class="btn btn-primary p-2 w-50">Guardar Reseña</a>
                            <a href="movieDetails" class="btn btn-danger p-2 w-50 "><strong>Cancelar</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <!-- Scripts -->
    <script src="js/stars.js"></script>
    
</body>

</html>