{{>head}}

<body class="primary principal" id="page-listas">
    {{>header}}

    <!-- Page content -->
    <div class="content">

        {{#sections}}
        <div style="margin-top: 30px;">
            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 view-more">
                <h4>{{sectionTitle}}</h4>
            </div>
            <div class="films">
                {{#lists}}
                <div class="card">
                    <a href="/lists/{{listsId}}">
                        <img src="{{firstImage}}" alt="{{listName}}">
                        <h5>{{listName}}</h5>
                        <p>{{size}} elementos</p>
                    </a>
                </div>
                {{/lists}}
            </div>
        </div>
        {{/sections}}

    </div>

    {{>footer}}
</body>

</html>
