<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Palomix" />
    <meta name="author" content="Grupo 6" />
    <title>Palomix - Listas</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="primary principal" id="page-listas">

    <!-- HEADER -->
    {{>header}}

    <div class="content">

        <!-- Best Rated Lists -->
        <div style="margin-top: 30px;">
            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 view-more">
                <h4>Listas Mejor Valoradas</h4>
            </div>

            <div class="films">
                {{#bestRatedLists}}
                <div class="card">
                    <a href="/lists/{{listsId}}">
                        {{#filmographyImage}}
                        <img src="/img/{{imageId}}" alt="{{listName}}">
                        {{/filmographyImage}}
                        <h5>{{listName}}</h5>
                        <p>{{size}} elementos</p>
                    </a>
                </div>
                {{/bestRatedLists}}
            </div>
        </div>

        <!-- Worst Rated Lists -->
        <div style="margin-top: 30px;">
            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 view-more">
                <h4>Listas Peor Valoradas</h4>
            </div>

            <div class="films">
                {{#worstRatedLists}}
                <div class="card">
                    <a href="/lists/{{listsId}}">
                        {{#filmographyImage}}
                        <img src="/img/{{imageId}}" alt="{{listName}}">
                        {{/filmographyImage}}
                        <h5>{{listName}}</h5>
                        <p>{{size}} elementos</p>
                    </a>
                </div>
                {{/worstRatedLists}}
            </div>
        </div>

        <!-- Longest Lists -->
        <div style="margin-top: 30px;">
            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 view-more">
                <h4>Listas Más Largas</h4>
            </div>

            <div class="films">
                {{#longestLists}}
                <div class="card">
                    <a href="/lists/{{listsId}}">
                        {{#filmographyImage}}
                        <img src="/img/{{imageId}}" alt="{{listName}}">
                        {{/filmographyImage}}
                        <h5>{{listName}}</h5>
                        <p>{{size}} elementos</p>
                    </a>
                </div>
                {{/longestLists}}
            </div>
        </div>

        <!-- Lists with Longest Movies -->
        <div style="margin-top: 30px;">
            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 view-more">
                <h4>Listas Películas Más Largas</h4>
            </div>

            <div class="films">
                {{#longestMoviesLists}}
                <div class="card">
                    <a href="/lists/{{listsId}}">
                        {{#filmographyImage}}
                        <img src="/img/{{imageId}}" alt="{{listName}}">
                        {{/filmographyImage}} <h5>{{listName}}</h5>
                        <p>{{filmographyList.size}} elementos</p>
                    </a>
                </div>
                {{/longestMoviesLists}}
            </div>
        </div>

        <!-- Lists with Series with Most Seasons -->
        <div style="margin-top: 30px;">
            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 view-more">
                <h4>Listas Series con Más Temporadas</h4>
            </div>

            <div class="films">
                {{#seriesMostSeasonsLists}}
                <div class="card">
                    <a href="/lists/{{listsId}}">
                        {{#filmographyImage}}
                        <img src="/img/{{imageId}}" alt="{{listName}}">
                        {{/filmographyImage}} <h5>{{listName}}</h5>
                        <p>{{filmographyList.size}} elementos</p>
                    </a>
                </div>
                {{/seriesMostSeasonsLists}}
            </div>
        </div>

    </div>

    <!-- FOOTER -->
    {{>footer}}

</body>

</html>