<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Palomix" />
    <meta name="author" content="Grupo 6" />
    <title>Palomix - Modificar Serie</title>
    <!-- Libraries-->
    <!--Bootstrap Librarie-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- Our CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="primary principal">

    <!-- HEADER -->
    {{>header}}

    <!-- Page content -->
    <div class="container-fluid py-4 content">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card p-3 p-md-4 generic-card rounded-4 border-0">
                    <h3 class="mb-3 text-center text-white">Modificar Serie</h3>

                    <!-- Clikable Image -->
                    <div class="d-flex flex-column align-items-center mb-3">
                        <img id="posterPreview" src="images/peliculaAdministrador.jpg"
                            alt="Seleccionar imagen" class="border rounded-3 img-fluid poster"
                            style="cursor: pointer;">
                        <p class="mt-2 mb-0 text-white-50 small">Pulsa la imagen para cargar la portada de la película</p>
                    </div>
                    <!-- Hidden Input file -->
                    <input id="posterInput" type="file" accept="image/*" class="d-none">

                    <!-- Form -->
                    <form class="d-flex flex-column gap-3 administer-form">
                        <div class="d-flex flex-column">
                            <label class="fw-bold text-white">Título:</label>
                            <input type="text" class="form-control" id="titleInput" placeholder="Título de la serie"
                                value="Stranger Things">
                        </div>
                        <div class="d-flex flex-column">
                            <label class="fw-bold text-white">Director:</label>
                            <input type="text" class="form-control" id="directorInput" placeholder="Director"
                                value="The Duffer Brothers">
                        </div>
                        <div class="row g-3">
                            <div class="col-12 col-sm-4">
                                <div class="d-flex flex-column">
                                    <label class="fw-bold text-white">Año de lanzamiento:</label>
                                    <input type="number" class="form-control" id="yearInput"
                                        placeholder="Año de lanzamiento" min="1800" max="2026" value="2016">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="d-flex flex-column">
                                    <label class="fw-bold text-white">Número de temporadas:</label>
                                    <input type="number" class="form-control" id="seasonsInput"
                                        placeholder="Número de temporadas" min="1" value="4">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="d-flex flex-column">
                                    <label class="fw-bold text-white">Duración:</label>
                                    <input type="number" class="form-control" id="durationInput"
                                        placeholder="Duración (minutos)" min="0" value="50">
                                </div>
                            </div>
                        </div>
                        <div id="generosContainer" class="d-flex flex-column">
                            <label class="fw-bold text-white">Género:</label>
                            <div id="genreFields" class="d-flex flex-column gap-2">
                                <div class="input-group genre-extra">
                                    <input type="text" class="form-control" name="genres[]" placeholder="Género"
                                        value="Ciencia ficción">
                                    <button type="button" class="btn btn-outline-primary" id="addGenre">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" id="removeGenre">
                                        <i class="bi bi-dash-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="platformsContainer" class="d-flex flex-column">
                            <label class="fw-bold text-white">Plataforma:</label>
                            <div id="platformField" class="d-flex flex-column gap-2">
                                <div class="input-group platform-extra">
                                    <input type="text" class="form-control" name="platforms[]" placeholder="Plataforma"
                                        value="Netflix">
                                    <button type="button" class="btn btn-outline-primary" id="addPlatform">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" id="removePlatform">
                                        <i class="bi bi-dash-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <label class="fw-bold text-white">Sinopsis:</label>
                            <textarea class="form-control" id="sinopsisInput" placeholder="Sinopsis"
                                rows="4">Una serie de televisión que sigue a un grupo de niños en una pequeña ciudad de Estados Unidos durante los años 80, donde descubren misterios sobrenaturales y peligros ocultos.</textarea>
                        </div>
                        <div class="d-flex gap-2">
                            <a href="administrator" class="btn btn-primary w-50 py-2 "type="submit">Modificar Serie</a>
                            <a href="administrator" class="btn btn-danger p-2 w-50 "><strong>Cancelar</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <!-- Scripts -->
    <script src="js/posterMoviesSeries.js"></script>
    <script src="js/genres.js"></script>
    <script src="js/platforms.js"></script>
    
</body>

</html>