{{>head}}

<body class="primary principal">
    {{>header}}

    <!-- Page Content -->
    <div class="container-fluid py-4 content">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card p-3 p-md-4 generic-card rounded-4 border-0">
                    <h3 class="mb-3 text-center text-white fs-md-2">{{filmography.filmographyName}}</h3>
                    <!-- Poster -->
                    {{#filmography}}
                    {{#filmographyImage}}
                    <img src="/img/{{imageId}}" class="border rounded-3 d-block mx-auto mb-4 bg-white-50 img-fluid poster" alt="{{filmographyName}}">
                    {{/filmographyImage}}
                    {{^filmographyImage}}
                    <img src="/images/posterNotAvailable.jpg" class="border rounded-3 d-block mx-auto mb-4 bg-white-50 img-fluid poster" alt="{{filmographyName}}">
                    {{/filmographyImage}}
                    {{/filmography}}
                    
                    {{#review.reviewId}}
                    <form action="/reviews/{{review.reviewId}}/edit" method="post" class="form-review">
                        {{/review.reviewId}}
                        {{^review.reviewId}}
                        <form action="/filmographies/{{filmography.filmographyId}}/reviews/new" method="post"
                            class="form-review">
                            {{/review.reviewId}}
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                            <input type="hidden" name="redirectTo" value="{{currentUrl}}">
                            <!-- Stars -->
                            <div class="d-flex flex-column justify-content-center gap-1 mb-3">
                                <label class="fw-bold text-white fs-6 mb-0">Valoración:</label>
                                <div class="d-flex mt-0" id="starsContainer">
                                    <i class="bi bi-star star" data-value="1"></i>
                                    <i class="bi bi-star star" data-value="2"></i>
                                    <i class="bi bi-star star" data-value="3"></i>
                                    <i class="bi bi-star star" data-value="4"></i>
                                    <i class="bi bi-star star" data-value="5"></i>
                                    <input type="hidden" id="ratingInput" name="reviewStars"
                                        value="{{#review.reviewStars}}{{review.reviewStars}}{{/review.reviewStars}}{{^review.reviewStars}}0{{/review.reviewStars}}">
                                    {{#starsError}}
                                    <div class="alert alert-danger p-1 ms-2" role="alert">Se debe seleccionar una
                                        valoración válida</div>
                                    {{/starsError}}
                                </div>

                            </div>
                            <!-- Review -->
                            <div class="d-flex flex-column gap-2 mb-4">
                                <textarea name="reviewDescription" class="form-control bg-white text-dark" rows="4"
                                    placeholder="Escribe tu reseña aquí (opcional)...">{{review.reviewDescription}}</textarea>
                            </div>

                            <div class="d-flex gap-2">
                                <button type="submit" class="btn btn-primary p-2 w-50">
                                    {{#review.reviewId}}Actualizar reseña{{/review.reviewId}}
                                    {{^review.reviewId}}Añadir reseña{{/review.reviewId}}
                                </button>
                                <a href="/filmographies/{{filmography.filmographyId}}"
                                    class="btn btn-danger p-2 w-50 d-flex align-items-center justify-content-center"><strong>Cancelar</strong></a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <!-- Scripts -->
    <script src="/js/stars.js"></script>
</body>

</html>