{{>head}}

<body class="primary principal" id="page-reviews">
    {{>header}}

    <!-- Page Content -->
    <div class="content px-5 mb-4">
        <div class="d-flex justify-content-start gap-3 p-3">
            {{^fromAdmin}}
            <a href="/profile" class="profile-btn text-decoration-none">
                Perfil
            </a>
            {{#isAdmin}}
            <a href="/administrator" class="profile-btn text-decoration-none">
                Administrador
            </a>
            {{/isAdmin}}
            <a href="/myLists" class="profile-btn text-decoration-none">
                {{#isAdmin}} Todas las Listas{{/isAdmin}} {{^isAdmin}} Mis Listas {{/isAdmin}}
            </a>
            {{/fromAdmin}}

        </div>
        <div class="d-flex justify-content-between gap-3 p-3 add-list mb-0">
            <h4 class="text-start mt-2">Mis Reseñas</h4>

            {{#fromAdmin}}
            <a href="/administrator" class="profile-btn text-decoration-none">
                Volver
            </a>
            {{/fromAdmin}}
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 g-5">
            {{#reviews}}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title m-0">{{filmography.filmographyName}} {{#isAdmin}}|
                                {{reviewAuthor.accountName}} {{/isAdmin}}</h5>
                            <div class="rating d-flex align-items-center">
                                <h4 class="punctuation m-0 me-1">{{reviewStars}}</h4>
                                <i class="bi bi-star-fill fs-4 text-warning"></i>
                            </div>
                        </div>
                        <p class="card-text mt-3" style="text-align: justify;">{{reviewDescription}}</p>
                        <hr class="m-0">
                        <div class="d-flex justify-content-between">
                            <div class="card-footer bg-transparent py-1 border-0 d-flex gap-2">
                                <a href="/reviews/{{reviewId}}/edit?redirectTo={{currentUrl}}" class="btn btn-outline-primary btn-sm">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#alertDelete{{reviewId}}">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <div class="modal fade" id="alertDelete{{reviewId}}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content text-dark">
                                            <div class="modal-header">
                                                <h3 class="modal-title fs-5">¿Seguro que quieres borrarlo?</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Ten en cuenta que no podrá recuperarse.</h6>
                                            </div>
                                            <form class="modal-footer" action="/reviews/{{reviewId}}/delete"
                                                method="post">
                                                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                                <input type="hidden" name="redirectTo" value="{{currentUrl}}">  
                                                <button class="btn btn-danger" type="submit">Borrar</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent py-1 border-0">
                                <a class="btn btn-primary btn-sm btn-small" data-bs-toggle="modal"
                                    data-bs-target="#modal{{reviewId}}">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal{{reviewId}}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="card-title m-0">{{filmography.filmographyName}}</h5>
                                        <div class="rating d-flex align-items-center">
                                            <h4 class="punctuation m-0 me-1">{{reviewStars}}</h4>
                                            <i class="bi bi-star-fill fs-4 text-warning"></i>
                                        </div>
                                    </div>
                                    <p class="card-text mt-3" style="text-align: justify;">{{reviewDescription}}</p>
                                    <hr class="m-2">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/reviews}}

            {{^reviews}}
            <div class="container mt-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-auto">
                        <img src="/images/searchError.png" class="img-fluid rounded" width="300" height="300">
                    </div>

                    <div class="col-auto">
                        <h3 class="text-light m-0">No tienes ninguna reseña</h3>
                    </div>
                </div>
            </div>
            {{/reviews}}
        </div>
    </div>

    {{>footer}}
</body>

</html>